body {
  background: #bbdefb;
  min-height: 2000px;
  min-width: 470px;
  padding-top: 70px;
}
h3 {
  background: red;
  margin: 10px;
  text-align: center;
}
.test {
  color: white;
  background: #2196f3;
  margin: 10px;
  text-align: center;
}
p {
  margin: 0px;
}
ul {
  margin-left: 0px;
}
.dropdown-menu {
  text-align: center;
  background-color: #e3f2fd;
  min-width: 10px;
}
.dropdown-menu > li > a:hover {
  color:white;
  background-color: #1565c0;
}
.div-inline {
  display: inline-block;
}
.slick-slide {
  outline: none
}
.btn {
  border-radius: 24px;
  border-color: none;
  background-color: #0d47a1;
}
.btn:hover, .btn:active, .btn:focus, .open > .dropdown-toggle.btn, .open > .dropdown-toggle.btn:active, .open > .dropdown-toggle.btn:focus, .open > .dropdown-toggle.btn:hover {
  background-color: #082c63 !important;
}
#filterbtns {
  padding-top: 10px;
}
.slick-prev:before {
  color: #2196f3 !important;
}
.slick-next:before {
  color: #2196f3 !important;
}
nav {
  background-color: #1565c0 !important;
  color: white !important;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  color: white !important;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav .open > a {
  background-color: #0d47a1 !important;
  color: white !important
}
