body {
  background: #82B1FF;
  min-height: 2000px;
  padding-top: 70px;
}

h3 {
  background: red;
  margin:10px;
  text-align: center;
}

.test {
  background: #ffee58;;
  margin:10px;
  text-align: center;
}

p {
	margin:0px;
}

ul {
	margin-left: 0px;
}
.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

.div-inline{
    display:inline-block;
}

.slick-slide {
    outline: none
}

.btn {
    border-radius: 24px;
}
