body {
    background: #bbdefb;
    min-width: 700px;
    padding-top: 70px;
}

h3 {
    background: red;
    margin: 10px;
    text-align: center;
}

.test {
    color: white;
    background: #2196f3;
    margin: 10px;
    text-align: center;
    border: 5px solid #2196f3;
    cursor: pointer;
}

.test:hover {
    background: #0A66B1;
}

.test:active {
    background: #074A81;
}

/*.bold-n-stuff:hover {
    background: #E2E2E2 !important;
}

.bold-n-stuff:active {
    background: #BFBFBF !important;
}*/

/*.bold-n-stuff {*/
    /*Aka current day*/
    
    /*background: #0A5FA5;*/

/*    font-weight: bold;
    background-color: white !important;
    border: 5px solid white !important;*/
/*}*/

/*.bold-n-stuff > .sub-box {*/
    /*Aka current day*/
  /*  font-weight: bold;
    color: #0A5FA5;
  */
    /*background: #0A5FA5;*/
    /*border:5px solid white !important; */
/*}*/

.bold-n-stuff {
    /*Aka current day*/
    font-weight: bold;
    /*background: #0A5FA5;*/
    /*background-color: white !important;*/
    border: 5px solid white !important;
}

/*.bold-n-stuff > .sub-box {
    /*Aka current day*/
    /*font-weight: bold;
    color: #0A5FA5;*/
    /*background: #0A5FA5;*/
    /*border:5px solid white !important; */
/*}*/

.activated {
    background: #0A66B1;
}

/*.bold-n-stuff.activated {
    background: #E2E2E2 !important;
}*/

p {
    margin: 0px;
}

ul {
    margin-left: 0px;
}

.dropdown-menu {
    background-color: #e3f2fd;
    min-width: 0px;
}

.dropdown-menu > li > a:hover {
    color: white;
    background-color: #1565c0;
}

#filter > ul {
    /*left: 15%;*/
}

#viewing > ul {
    /*left: 2%;*/
}

.div-inline {
    display: inline-block;
}

.slick-slide {
    outline: none
}

.btn-round {
    color: white;
    border-radius: 24px;
    border-color: none;
    background-color: #0d47a1;
}

.btn-round:hover,
.btn-round:active,
.btn-round:focus,
.open > .dropdown-toggle.btn-round,
.open > .dropdown-toggle.btn-round:active,
.open > .dropdown-toggle.btn-round:focus,
.open > .dropdown-toggle.btn-round:hover {
    background-color: #082c63 !important;
    color: white;
}

#filterbtns {
    padding-top: 10px;
}

.Herp > .slick-prev:before {
    color: #2196f3 !important;
}

.Herp > .slick-next:before {
    color: #2196f3 !important;
}

nav {
    background-color: #1565c0 !important;
    color: white !important;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    color: white !important;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav .open > a {
    background-color: #0d47a1 !important;
    color: white !important
}

.row-date {
    padding-bottom: 3px;
}

.center-row {
    width: 50%;
    margin: 0 auto;
}

.time-btn {
    height: 60px;
    width: 60px;
    border: none;
    margin: 0 auto;
    padding: 0px;
    outline: none !important;
    color: black;
}

#testme {
    width: 70px;
}

#testme > .slick-prev {
    left: -5px;
    top: -10%;
    display: inline;
    transform: rotateZ(90deg);
}

#testme > .slick-next {
    color: #2196f3 !important;
    top: -10%;
    right: -6px;
    display: inline;
    transform: rotateZ(90deg);
}

#testme > .slick-prev:before {
    color: #2196f3 !important;
}

#testme > .slick-next:before {
    color: #2196f3 !important;
}

#testme > .slick-list {
    width: 70px;
}

.panel-margined {
    margin-left: -9%;
}

.btn-currentday {
    font-weight: bold;
}

.heatmap-box {
    height: 5px;
    width: 5px;
    border: none !important;
    margin: 0 auto;
    padding: 0px;
    background: #F5FAFE;
}

.selected-box {
    background: #2196f3 !important;
}

.invis-table {
    margin: 2px;
    padding: 2px;
    background: #bbdefb;
}

tbody {
    border: none !important;
}

table {
    border: none !important;
}

td {
    padding: 0;
}
